@import 'media';
@import 'elementList';
@import 'templates';
@import 'photos';
@import 'shapes';
@import 'backdrops';
@import 'layer';
@import 'info';
@import 'settings';

.search {
	position: relative;
	display: flex;
	align-items: center;
	padding: 0px 0px 24px 0px;
	border-bottom: 1px solid rgba(94, 111, 138, 0.5);
	svg {
		position: absolute;
		display: flex;
		left: 12px;
		path {
		}
	}
	input {
		width: 100%;
		padding: 6px 10px 6px 34px;
		font-size: 16px;
		line-height: 26px;
		color: #a3a3a3;
		mix-blend-mode: normal;
		background: $white;
		border: 1px solid #dcdbdc;
		box-sizing: border-box;
		border-radius: 6px;
		&:focus {
			outline: 0;
		}
		&::placeholder {
			color: #a3a3a3;
		}
	}
}
