.media {
	position: relative;
	.media-templates {
		@include tcbMasonryStyle;
		.masonry-grid {
			margin-left: -20px;
		}
		column-gap: 16px;
		overflow-x: hidden;
		overflow-y: auto;
		height: 100vh;
		.media-template {
			&:first-child {
				margin-bottom: 16px !important;
			}
			&:not(:last-child) {
				margin-bottom: 9px;
			}
			label {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 20px 17px 25px 17px;
				cursor: pointer;
				border: 1px solid #707589;
				border-radius: 6px;
				span {
					font-size: 13px;
					line-height: 16px;
					text-align: center;
					letter-spacing: 0.9px;
					color: #fff;
					opacity: 0.9;
				}
				svg {
					margin-bottom: 18px;
				}
				#photoUpload {
					display: none;
				}
			}
		}
	}
	.media-upload-btn {
		position: fixed;
		width: 256px;
		left: 232px;
		top: 90%;
		transform: translateX(-50%);
		button {
			&:hover {
				background: #0831b1;
				color: $white;
			}
			&:focus {
				outline: none;
			}
		}
	}
}
