.settings {
	.all-settings {
		.setting {
			position: relative;
			padding: 20px 0px 30px 0px;
			&:not(:last-child) {
				&::after {
					content: '';
					position: absolute;
					width: 304px;
					height: 1px;
					background: rgba(112, 117, 137, 0.5);
					left: -24px;
					bottom: 0;
				}
			}
			.setting-title {
				margin-bottom: 15px;
				h5 {
					font-style: normal;
					font-weight: 500;
					font-size: 15px;
					line-height: 24px;
					color: #b6bbcd;
					mix-blend-mode: normal;
					user-select: none;
				}
			}
		}
		.settings-save-btn {
			position: fixed;
			width: 256px;
			left: 232px;
			top: 90%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			button {
				&:hover {
					background: #0831b1;
					color: $white;
				}
				&:focus {
					outline: none;
				}
			}
		}
		.paper-size-setting {
			.paper-sizes {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 0px 15px;
				.each-size {
					input {
						position: absolute;
						cursor: pointer;
						opacity: 0;
						&:checked {
							& + label {
								border: 1px solid #54596c;
								background: linear-gradient(
									180deg,
									#4c5163 0%,
									#454959 100%
								);
								.letter-size-icon {
									svg {
										> path {
											fill: #fff;
										}
									}
								}
								.letter-size-text {
									color: #fff;
								}
							}
						}
					}
					> label {
						border: 1px solid #707589;
						box-sizing: border-box;
						border-radius: 6px;
						padding: 22px 14px 15px;
						color: #bac0d2;
						cursor: pointer;
					}
					.letter-size {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						.letter-size-icon {
							svg {
								> path {
									fill: #bac0d2;
								}
							}
						}
						.letter-size-text {
							font-weight: 500;
							font-size: 15px;
							line-height: 16px;
							margin-top: 1px;
							text-align: center;
						}
						.letter-size-px {
							font-style: normal;
							font-weight: 500;
							font-size: 11px;
							line-height: 16px;
							margin-top: 10px;
							mix-blend-mode: normal;
						}
					}
					.a4-size {
						@extend .letter-size;
					}
					&:hover {
						> label {
							border: 1px solid #54596c;
							background: linear-gradient(
								180deg,
								#4c5163 0%,
								#454959 100%
							);
							.letter-size-icon {
								svg {
									> path {
										fill: #fff;
									}
								}
							}
							.letter-size-text {
								color: #fff;
							}
						}
					}
				}
			}
		}
		.paper-orientation-setting {
			.paper-orientation {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 16px;
				.each-orientation {
					display: flex;
					align-items: center;
					gap: 15px;
					position: relative;
					cursor: pointer;
					input {
						cursor: pointer;
						opacity: 0;
						position: absolute;
						width: 100%;
						height: 24px;
						top: 0px;
						left: 0px;
						&:checked + label {
							.round {
								border: 4.5px solid #3e64de;
								background: #fff;
							}
						}
					}
					label {
						cursor: pointer;
						.round {
							width: 18px;
							height: 18px;
							border: 2px solid #707589;
							background: transparent;
							position: absolute;
							top: 2px;
							left: 0;
							border-radius: 50%;
						}
						span {
							font-style: normal;
							font-weight: 500;
							font-size: 15px;
							line-height: 24px;
							color: #ffffff;
							margin-left: 28px;
						}
					}
				}
			}
		}
		.paper-bleeding-spacing-setting {
			.bleeding-spacing-area {
				.bleeding-spacing {
					background: #2b2e37;
					mix-blend-mode: normal;
					border: 1px solid rgba(112, 117, 137, 0.7);
					border-radius: 3px;
					height: 150px;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
					.space {
						position: absolute;
						width: 40px;
						height: 24px;
						display: flex;
						align-items: center;
						justify-content: center;
						user-select: none;
						&:focus-within {
							background: #1c1e24;
						}
						input {
							position: absolute;
							width: 15px;
							height: 100%;
							background-color: transparent;
							color: #969eb6;
							border: 0;
							outline: 0;
							padding: 0px;
							font-style: normal;
							font-weight: 500;
							font-size: 13px;
							line-height: 21px;
							user-select: none;
							-moz-appearance: textfield;
							&:focus {
								color: #fff;
								opacity: 0.99;
							}
							&::-webkit-inner-spin-button {
								-webkit-appearance: none;
								-moz-appearance: none;
								appearance: none;
								margin: 0;
								background-color: transparent;
							}
							&::-moz-inner-spin-button {
								-webkit-appearance: none;
								-moz-appearance: none;
								appearance: none;
								margin: 0;
								background-color: transparent;
							}
						}
					}
					.left-space {
						left: 5px;
						top: 50%;
						transform: translateY(-50%);
					}
					.right-space {
						right: 5px;
						top: 50%;
						transform: translateY(-50%);
					}
					.top-space {
						top: 6px;
						left: 50%;
						transform: translateX(-50%);
					}
					.bottom-space {
						bottom: 7px;
						left: 50%;
						transform: translateX(-50%);
					}
					.mid-square {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 155px;
						height: 70px;
						background: #353843;
						mix-blend-mode: normal;
						opacity: 0.7;
						border: 1px solid #707589;
						border-radius: 3px;
						cursor: pointer;
						svg {
							> path {
								color: #fff;
								fill-opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
