.elements {
	.elements-list {
		display: flex;
		flex-wrap: wrap;
		row-gap: 15px;
		column-gap: 15px;
		.element-list-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			background: linear-gradient(180deg, #4c5163 0%, #454959 100%);
			border: 1px solid #54596c;
			box-sizing: border-box;
			border-radius: 6px;
			padding: 20px 10px;
			flex: 0 0 119px;
			height: 110px;
			cursor: move;
			
			p {
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 16px;
				padding-top: 10px;
				margin: 0;
			}
		}
	}
}


.outline {

	.size-control {
		max-height: 100%;
		max-width: 100%;
		border-radius: 10px;
		background-color: #fff;
		border: 2px solid var(--selection-b);
		pointer-events: all;
		position: absolute;
		pointer-events: auto;
		margin: auto;

		&.left {
			top: 0;
			bottom: 0;
			left: -3.5px;
			height: 20px;
			width: 6px;
			cursor: col-resize;
		}

		&.right {
			top: 0;
			bottom: 0;
			right: -3.5px;
			height: 20px;
			width: 6px;
			cursor: col-resize;
		}

		&.top {
			left: 0;
			right: 0;
			top: -3.5px;
			height: 6px;
			width: 20px;
			cursor: row-resize;
		}

		&.bottom{
			left: 0;
			right: 0;
			bottom: -3.5px;
			height: 6px;
			width: 20px;
			cursor: row-resize;
		}

		&.corner {
			z-index: 99;
			border: 3px solid rgb(255, 255, 255);
			background: rgb(62, 100, 222);
			border-radius: 50%;
			position: absolute;
			user-select: none;
			width: 16px;
			height: 16px;
		}

		&.left-top {
			left: -10px;
			top: -10px;
			cursor: nw-resize;
		}

		&.left-bottom {
			left: -10px;
			bottom: -10px;
			cursor: sw-resize;
		}

		&.right-top {
			right: -10px;
			top: -10px;
			cursor: ne-resize;
		}

		&.right-bottom {
			right: -10px;
			bottom: -10px;
			cursor: se-resize;
		}
	}
}
