@mixin itemCenter {
	display: var(--d-flex);
	align-items: var(--align-items-center);
}

//Display style
@mixin flexCenter {
	display: var(--d-flex);
	justify-content: var(--justify-content-center);
	align-items: var(--align-items-center);
}
@mixin contentBetween {
	display: var(--d-flex);
	justify-content: var(--justify-content-between);
}
@mixin contentEnd {
	display: var(--d-flex);
	justify-content: var(--justify-content-end);
}
@mixin contentCenter {
	display: var(--d-flex);
	justify-content: var(--justify-content-center);
}
@mixin itemCenter {
	display: var(--d-flex);
	align-items: var(--align-items-center);
}
@mixin itemCenterContentBetween {
	display: var(--d-flex);
	align-items: var(--align-items-center);
	justify-content: var(--justify-content-between);
}


@mixin tcbScrollbar {
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
	
	&:hover {
		scrollbar-width: 3px;
		scrollbar-color: #ddd transparent;
	}
}
