@mixin itemCenter {
	display: var(--d-flex);
	align-items: var(--align-items-center);
}

//Display style
@mixin flexCenter {
	display: var(--d-flex);
	justify-content: var(--justify-content-center);
	align-items: var(--align-items-center);
}
@mixin contentBetween {
	display: var(--d-flex);
	justify-content: var(--justify-content-between);
}
@mixin contentEnd {
	display: var(--d-flex);
	justify-content: var(--justify-content-end);
}
@mixin contentCenter {
	display: var(--d-flex);
	justify-content: var(--justify-content-center);
}
@mixin itemCenter {
	display: var(--d-flex);
	align-items: var(--align-items-center);
}
@mixin itemCenterContentBetween {
	display: var(--d-flex);
	align-items: var(--align-items-center);
	justify-content: var(--justify-content-between);
}

@mixin tcbMasonryStyle {
	.masonry-grid {
		/* Not needed if autoprefixing */ /* Not needed if autoprefixing */
		display: flex;
		margin-left: -30px; /* gutter size offset */
		width: auto;
		.masonry-grid_column {
			padding-left: 20px; /* gutter size */
			background-clip: padding-box;
		}

		/* Style your items */
		.masonry-grid_column > div {
			/* change div to reference your elements you put in <Masonry> */
			margin-bottom: 10px;
		}
	}
}

@mixin tcbScrollbar {
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
	&::-webkit-scrollbar {
		width: 5px;
	}
	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
		border-radius: 40px;
	}
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: transparent;
		border-radius: 30px;
	}
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: #ddd;
	}
	&:hover {
		scrollbar-width: 3px;
		scrollbar-color: #ddd transparent;
		&::-webkit-scrollbar {
			width: 5px;
			position: absolute;
		}
		/* Track */
		&::-webkit-scrollbar-track {
			background: transparent;
			border-radius: 40px;
		}
		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #ddd;
			// background: linear-gradient(180deg, #4c5163 0%, #454959 100%);
			border-radius: 30px;
			height: 60px;
		}
		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #ddd;
		}
	}
}

@mixin tcbTextcontrolScrollbar {
	scrollbar-width: thin;
	scrollbar-color: rgba(69, 71, 81, 0.5) transparent;
	&::-webkit-scrollbar {
		width: 3px;
	}
	/* Track */
	&::-webkit-scrollbar-track {
		width: 3px;
		background: rgba(69, 71, 81, 0);
		border-radius: 30px;
	}
	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: #494d5e;
		border-radius: 30px;
	}
	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: rgba(69, 71, 81, 1);
	}
	&:hover {
		&::-webkit-scrollbar-thumb:hover {
			background: rgba(69, 71, 81, 1);
		}
	}
}
