@import '_variable';
@import 'mixin';
@import 'common';
@import 'header';
@import 'components/element-outline';
@import 'editor';


.drag-drop-container {
	display: flex;

	.designer-toolkit-content {
		width: 100%;
		height: 100vh;
		background: #efefef;
		overflow: hidden;
	}
}
.sidebar {
	background: $secondary-color;
	flex: 0 0 384px;
	color: $white;
	height: 100vh;
	display: flex;
	position: relative;
	overflow-x: visible;
	transition: flex-basis 0.5s;
}
.menu {
	background: $primary-color;
	transition: all 0.3s;
	z-index: 9999;
	box-shadow: 2px 0px 2px rgba(61, 57, 80, 0.05);
	width: 80px;
	padding: 0px 0px 0px 0px;
	color: $white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.menu-top {
		ul {
			.activeIndicator {
				background: $secondary-color;
				display: inline-block;
				width: 80px;
				height: 85px;
				position: absolute;
				top: 0;
				transition: all 0.3s;
				&:before {
					content: '';
					position: absolute;
					width: 3px;
					height: 100%;
					background-color: $sidebar-active-indicator;
					left: 0px;
					top: 0px;
				}
				.prevCurve {
					&:after,
					&:before {
						content: '';
						position: absolute;
						width: 100%;
						height: 10px;
					}
					&:after {
						background: #1c1e24;
						top: -10px;
						border-bottom-right-radius: 10px;
					}
					&:before {
						background: #353843;
						top: -10px;
					}
				}
				.nextCurve {
					&:after,
					&:before {
						content: '';
						position: absolute;
						width: 100%;
						height: 10px;
					}
					&:after {
						background: #1c1e24;
						bottom: -10px;
						border-top-right-radius: 10px;
					}
					&:before {
						background: #353843;
						bottom: -10px;
					}
				}
			}
			li {
				position: relative;
				cursor: pointer;
				margin: 0;
				user-select: none;
				> * {
					pointer-events: none;
				}
				&.active {
					.prevCurve {
						&:after,
						&:before {
							content: '';
							position: absolute;
							width: 100%;
							height: 10px;
						}
						&:after {
							background: #1c1e24;
							top: -10px;
							border-bottom-right-radius: 10px;
						}
						&:before {
							background: #353843;
							top: -10px;
						}
					}
					.nextCurve {
						&:after,
						&:before {
							content: '';
							position: absolute;
							width: 100%;
							height: 10px;
						}
						&:after {
							background: #1c1e24;
							bottom: -10px;
							border-top-right-radius: 10px;
							z-index: 99;
						}
						&:before {
							background: #353843;
							bottom: -10px;
							z-index: 99;
						}
					}
					a {
						svg {
							path {
								fill-opacity: 1;
								fill: $white;
							}
						}
						p {
							color: $white;
						}
					}
				}
				a {
					color: $white;
					text-decoration: none;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 85px;
					padding: 0px 12px;
					svg {
						text-align: center;
						> path {
							color: $sidebar-font-color;
						}
					}
					p {
						font-size: 13px;
						line-height: 1;
						margin: 10px 0px 0px 0px;
						color: $sidebar-font-color;
					}
				}
			}
		}
	}
}
.menu-item {
	position: absolute;
	right: 0;
	width: 304px;
	background: $secondary-color;
	padding: 0px 5px 0px 0px;
	.menu-item-top {
		margin-bottom: 17px;
		padding: 17px 32px 0px 24px;
		h4 {
			margin-bottom: 7px;
		}
	}
	.menu-item-common {
		padding: 17px 10px 160px 24px;
		overflow-y: auto;
		@include tcbScrollbar;
	}

	> div {
		display: none;
		&.active {
			display: block;
		}
	}
	.settings,
	.layer,
	.info {
		.menu-item-top {
			padding-bottom: 0px;
			margin-bottom: 0px;
			border-bottom: 0px solid rgba(94, 111, 138, 0.5);
			h4 {
				margin: 0px;
			}
		}
	}
}
.sidebar-collapse {
	position: absolute;
	width: 16px;
	height: 75.85px;
	right: -15px;
	top: 50%;
	cursor: pointer;
	transform: translateY(-50%);
	.sidebar-collapse-icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		transition: all 0.3s;
	}
}
.designer-toolkit-content {
	width: 100%;
	height: 100vh;
	background: #efefef;
	.content-body {
		display: flex;
		align-items: center;
		height: 90vh;
		justify-content: center;
		overflow: hidden;
		margin: 0 auto;
		.toolkit-editor {
			background-color: rgb(255, 255, 255);
			width: 850px;
			height: 625px;
			position: relative;
		}
	}
}

.drag-drop-container.menu-collapse {
	.sidebar {
		flex: 0 0 80px;
		.sidebar-collapse {
			.sidebar-collapse-icon {
				transform: rotate(180deg) translateX(-4px) translateY(60%);
			}
		}
	}
}

.is-draging-border {
	border: 2px solid $design-btn-bg;
}

.backdrop-list {
	display: grid;
    grid-template-columns: 1fr 1fr;
	gap: 10px;
	padding: 0 10px;

	> div {
		cursor: move;
	}
}

.toolkit-editor {

	.element {
		cursor: move;
		position: absolute;
		left: 0;
		top: 0;
		border: 1px solid transparent;

		&:hover {
			border: 1px solid #6180e4;
		}

		&.is-selected {
			border: 1px solid #6180e4;
		}
	}

	&.has-backdrop {
		background-size: cover;
		background-repeat: no-repeat;
	}

	svg {
		width: inherit;
		height: inherit;
	}
}
